.container{
    display: flex;
    justify-content: center;
}

.box{
    background-image: url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1746&q=80");
    border-radius: 5px;
    width: 1000px;
    height: 800px;
    padding: 20px;
}
.itemlist{
    height: 730px;
    overflow: auto;
}
.box-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: rgb(255, 255, 255, 0.3);
    border-radius: 5px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #4CAF50; /* Green */
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #39803b; /* Green */
  }